.header{
    background-image: linear-gradient(to bottom, rgba(15, 8, 14, 0.642) 0%, rgba(10, 10, 10, 0.8) 100%),url('/src/assets/jun.jpg');
    height: 80vh;
    background-size: cover;
    background-position: center;
    
}
/* .c-caption{
  background-color: #33333384;
  padding: 1rem 0;
} */
.carousel-image{
  height: 80vh;
  filter: brightness(60%);
  object-fit: cover;
}
.nav-container{
  display: flex;
  justify-content: center;
}
.nav-link-item{
  font-weight: bold ;
  color: black ;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: black;
  /* letter-spacing: .1rem; */
}

.carousel-title{
  font-size: 2.5rem;
}
.nav-link-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #f9dd94;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-logo{
  font-family: chiller;
  font-weight: bolder;
  font-size: 2rem;
}
.hero-section{
  margin-top: 10rem;
  
  /* margin-left: 2rem !important; */
}
.hero-text{
    color: whitesmoke;  
    font-size: 3rem;
}
.hero-btn{
  width: 250px;
  border-radius: 40px;
  line-height: 14px;
  padding: 1rem;
  
  background-color: #fff;
  border: none;
  color: var(--dark);
}
.hero-btn:hover{
  background-color: #ddd;
  color: var(--dark);
}


.feature-section{
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
}
.single-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-image{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.feature-text h3,.feature-text p{
  text-align: center;
}
.product-section{
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: white;
  /* background: linear-gradient(180deg,#373795 0,#1e90bb); */
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.product-image{
  width: 90%;
  /* height: 90%; */
  padding: 3rem;
}
.product-details{
  margin-top: 3rem;
}
.single-product-feature{
  display: flex;
  flex-direction: row;
}
.product-img-sm{
  width: 100px;
  height: 100px;
  padding: 4px;
  border: 2px solid white;
  border-radius: 100%;
  
}

.carousel-card{
  border: none !important;
}
.carousel-card img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: .5s all;
}
.carousel-card img:hover{
  transform: scale(1.1);

}
.discounted-price{
  text-decoration: line-through;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}
.react-multiple-carousel__arrow--left {
  left: 0 !important;
}
.feature-product-card{
  border: none;
  /* transition: 1s all; */
  
}
.feature-product-card h1,h6{
  color: white;
  opacity: 3;
  text-align: center;
}
.feature-product-card img{
  height: 400px;
  object-fit: cover;
  filter: brightness(40%);
  transition: .5s ease-in-out;
  border-radius: 0;
}
.feature-product-card:hover img{
  height: 400px;
  object-fit: cover;
  filter: brightness(100%);
}

.feature-product-card:hover h1,.feature-product-card:hover h6{
  display: none;
}
.feature-product-card a{
  display: none;
}
.feature-product-card:hover a{
  display: inline-block;
}
.logo-image{
  width: 100%;
}
.underline{
  display: inline-block;
}
.underline::after{
  content: "";
  display: block;
  width: 30%;
  padding-top: 3px;
  border-bottom: 4px solid #f9dd94;
  
}
/* .logo-text{
  font-size: 4rem;
  font-weight: bold;
  color: #c471f5;  
} */
footer{
  background-color: #141111;
  padding: 2rem;
}
.footer h2{
  color: white;
  font-size: 2rem;
}
.footer .icon{
  margin-right: 1rem;
  color: white;
}
.footer .nav-link{
  display: flex ;
  align-items: center;
  margin: 1rem 0;
}
.icon-row a{
  margin: 0 .5rem;
  font-size: 1.5rem;
}
.facebook{
  color: #4267B2;
}
.youtube{
  color: #FF0000;
}
.instagram{
  color: #8a3ab9;
}
.twitter{
  color: #1DA1F2;
}
.image-col{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-col{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.shadow-input {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.5);
}

.contact-image{
  width: 100%;
  object-fit: cover;
  height: 700px;
  filter: brightness(50%);
}
.contact-btn{
  background-color: #57b846;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 25px;
  font-weight: bold;
}
.contact-btn:hover {
  background-color: #333333;
  color: white;
}
.contact-btn:active {
  background-color: #333333;
  color: white;
}
.contact-btn:active:hover {
  background-color: #333333;
  color: white;
}
.contact-input{
  padding: 1rem;
  border-radius: 0;
  font-weight: bold;
}
.contact-input:focus{
  padding: 1rem;
  outline: none;
  border-radius: 0;
  border-color: 1px solid #57b846;
  font-weight: bold;
}
/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {

}
@media only screen and (max-width: 1200px){
  .product-image{
    margin-bottom: 3rem;
  }
  .img-col{
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .product-feature-text {
    text-align: center;
  }
}
@media only screen and (max-width: 600px){
  .carousel-image{
    height: 40vh;
  }

}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
.carousel-image,.header{
  height: 40vh;
  
}
.carousel-title{
  font-size: 1rem;
}

}